body {
  margin:0;
  padding: 0;
}

label {
  font-weight: 700;
}

.masthead {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(214, 215, 216);
  padding-top: 10px;
  padding-bottom: 16px;
}

#content {
  padding: 10px;
  padding-bottom: 32px;
  padding-top: 20px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#buttons{
  padding:16px;
  padding-top: 0;
  text-align: right;
}

#delete_btn {
  width: 35%;
  border-radius: 6px;
}

#btn {
  padding: 2px 0;
  width: 100px;
  height: 32px;
  border-radius: 6px;
}

#bgcontainer {
  background: rgba(0, 0, 0, 0.5);
}

#tulisan {
  margin-left: 32px;
}

#masuk {
  margin-top: 24px;
  margin-left: 32px;
}

.containercard {
  margin: 0 24px;
}