<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Agenda - Stu-Do-List</title>
  </head>

  <body>
    <h1>Tambah Sebuah Agenda</h1>
    <div class="form">
      <form action="" method="POST">
        {% csrf_token %}
        <label for='matkul'>Nama Mata Kuliah</label> <br>
        {{ form.matkul }} <br>
        <label for='judul'>Nama Keperluan</label> <br>
        {{ form.judul }} <br>
        <p>Tenggat Waktu</p>
        <div class="tenggat waktu">
          <div>
            <label for='tanggal'>Tanggal</label> <br>
            {{ form.tanggal }} <br>
          </div>
          <div>
            <label for='waktu'>Pukul</label> <br>
            {{ form.waktu }} <br>
          </div>
        </div>
        <label for='keterangan'>Keterangan tambahan</label> <br>
        {{ form.keterangan }} <br>
        <br>
        <input type="submit" value="Tambahkan ke Agenda">
      </form>
    </div>
  </body>