<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Agenda - Stu-Do-List</title>
  </head>

  <body>
    <h1>Agenda</h1>
    <!-- To-Do Lists -->
    <div class="container">
      {% for agenda in agendas %}
      <div class="card">
        <h3>{{agenda.matkul}}<h3>
        <h5>{{agenda.judul}}</h5>
        <h6 style="color:red;">{{agenda.tanggal}} {{agenda.waktu}}</h6>
        <p>{{agenda.keterangan}}</p>
      </div>
      {% endfor %}
    </div>
    <!-- Schedules -->
    <div class="container">
      {% for schedule in schedules %}
      <div class="card">
        <h3>{{schedule.matkul}}<h3>
        <p>{{schedule.hari}} <br>
          {{schedule.start}} - {{schedule.end}}
        </p>
      </div>
      {% endfor %}
    </div>

  </body>

