{% extends 'schedule_base.html' %}
{% load static %}

{% block content %}
<div class="row align-items-center rounded-3 border shadow-lg">
    <div id="judul-atas" class="bg-cover bg-no-repeat bg-right-top xl:bg-bottom rounded-3"
        style="background-image: url('https://64.media.tumblr.com/d14995c11b9f3b9c94347e3b5d790d24/babbd570ca3d6c19-f3/s500x750/5fd44a8447f25e68a4da3740b06c65adc597bcea.gifv')">
        <!-- Start Hero Block -->
        <div class="container mx-auto sm:pb-16 lg:pb-24 xl:pb-32">
            <div class="space-y-8 lg:mt-24 xl:mt-28">
                <div class="space-y-4">
                    <h1 class="display-3 fw-bold text-white lh-1 md:max-w-xl md:text-5xl">Schedule Kuliah
                    </h1>
                    {% if user.is_authenticated %}
                    <p class="max-w-sm text-lg text-white md:max-w-md md:text-xl semi-bold"> Halo, <b class="fw-bold">{{ user.username }}</b>! 👾<br></p>
                    {% endif %}
                    <p class="max-w-sm text-lg text-white md:max-w-md md:text-xl semi-bold" id="tulisan-kecil">
                        <em>Dengan fitur ini, kamu dapat memasukkan jadwal perkuliahan
                            mingguan untuk setiap mata kuliah yang kamu ambil. Yuk, dicoba!</em>
                    </p>
                </div>
                {% if user.is_authenticated %}
                <a type="button" href="{% url 'schedule:add_matkul' %}"
                    class="transform motion-safe:hover:scale-110 w-full px-8 py-3.5 transition duration-300 bg-blue-500 hover:bg-blue-600 shadow text-white font-semibold rounded-lg sm:w-auto">Add
                    Matkul</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="page">
                {% if user.is_authenticated %}
                <div class="tulisantabel">
                    <br><br>
                    <h1 class="display-6 fw-bold text-center">Weekly Schedule</h1><br>
                    <p class="text-lg text-black text-center mb-16"><em>Lihat tabel jadwal perkuliahan
                            mingguan.</em></p>
                </div>
                <div id="table-jadwal">
                </div>
                {% else %}
                <div class="tulisantabel">
                    <br><br>
                    <h1 class="display-6 fw-bold text-center">Maaf, kamu belum dapat mengakses fitur ini</h1><br>
                    <p class="text-lg text-black text-center mb-16"><em>Silahkan login/sign-up terlebih dahulu.</em></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block script %}
<script src="{% static 'js/schedule.js' %}"></script>
{% endblock script %}