{% extends 'schedule_base.html' %}
{% load static %}

{% block content %}
<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

  <div class="container-fluid">
    <div class="container-fluid">
      <div class="page">
        <div class="text-2xl">
          <h1 id="h1Header" class="text-center display-6 fw-bold lh-1">Tambahkan Mata Kuliah Baru</h1>
        </div>
        {% if error %}
        <div id="form-error" class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <form action="" method="POST" id="form-id">
          {% csrf_token %}
          <div class="form-group">
            <label>Nama:</label>
            <br> {{ form.nama }}
            <small id="prioritasHelp" class="form-text text-muted">Tentukan mata kuliah yang ingin
              ditambahkan.</small>
          </div>

          <div class="form-group">
            <label>Kelas:</label>
            <br> {{ form.kelas }}
          </div>

          <div class="form-group">
            <label>SKS:</label>
            <br> {{ form.SKS }}
          </div>

          <div class="tombol my-8">
            <div class="text-center">
              <a class="btn btn-outline-danger" href="{% url 'schedule:index' %}">Cancel</a>
              <button id="submitbtn" type="submit" class="btn btn-primary">Add</button>
            </div><br>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
  const error = document.getElementById("form-error")
  setTimeout(() => {
    error.classList.add("d-none")
  }, 3000)
</script>
{% endblock script %}