{% extends 'schedule_base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mb-5">Tambahkan Jadwal untuk Mata Kuliah {{ matkul }}</h1>

<div style="width: 100vw;" class="d-flex justify-content-center">
    <div style="width: fit-content" class="d-flex flex-column w-75">
        {% if info %}
        <div id="form-info" class="alert alert-success" role="alert">{{ info }}</div>
        {% endif %}
        {% if error %}
        <div id="form-error" class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <form action="" method="POST" style="width: 100%;">
            {% csrf_token %}
            <div class="mb-3">
                <label for="hari" class="form-label">Hari:</label>
                {{ form.hari }}
            </div>
            <div class="mb-3">
                <label for="start" class="form-label">Waktu Perkuliah Dimulai:</label>
                {{ form.start }}
                <p style="font-size: small;font-style: italic">Harap masukkan data dengan format jj:mm:dd</p>
            </div>
            <div class="mb-3">
                <label for="end" class="form-label">Waktu Perkuliahan Berakhir:</label>
                {{ form.end }}
                <p style="font-size: small;font-style: italic">Harap masukkan data dengan format jj:mm:dd</p>
            </div>
            <button type="submit" class="btn btn-dark border-0 fw-bold" >Tambahkan Jadwal</button>
        </form>
        <a href="{% url 'schedule:index' %}" class="mt-3">
            <button class="btn btn-success border-0 fw-bold">Selesai</button>
        </a>
    </div>
</div>
<script>
    const info = document.getElementById("form-info")
    setTimeout(() => {
        info.classList.add("d-none")
    }, 3000)
    const error = document.getElementById("form-error")
    setTimeout(() => {
        error.classList.add("d-none")
    }, 3000)
</script>
{% endblock content %}