.judul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
}

.tombol{
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-group{
    margin-top: 2%;
}

