{% load static %}
{% load crispy_forms_tags %}
{% block meta %}
{% endblock meta %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log-in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.svg">
    <link rel="mask-icon" href="/static/favicon.svg" color="#000000">
    <link
      rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="navbar"></div>
    
    <script>
    $(function() {
      $("#navbar").load("/static/navbar.html");
    });
    </script>

<div class="container py-5">
    <h1>Login</h1>
    <div class="container mb-3" style="padding:10px;">
        <form action="" method="POST" class="form-control" style="text-align:justify">
            {% csrf_token %}
            {% for field in login_form %}
            <div class="row">
                <div class="col-md-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-md-10">
                    {{ field }}
                </div>
            </div><br>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    <p class="text-center mt-4">Don't have an account? <a href="/register">Create here</a>.</p>
</div>
</body>
{% endblock %}
