<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="user_id" content="{{ user_id }}">
    <title>Schedule Kuliah</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'schedule_index.css' %}" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div id="navbar"></div>

    {% if user.is_authenticated %}
    <div id="navbar"></div>

    <script>
        $(function () {
            $("#navbar").load("/static/navbar_auth.html");
        });
    </script>

    {% else %}
    <div id="navbar"></div>

    <script>
        $(function () {
            $("#navbar").load("/static/navbar.html");
        });
    </script>

    {% endif %}

    <div id="all">
        <div class="container my-5">

            <div class="row align-items-center rounded-3 border shadow-lg">

                <div id="judul-atas" class="bg-cover bg-no-repeat bg-right-top xl:bg-bottom rounded-3"
                    style="background-image: url('https://64.media.tumblr.com/cffbb696de11672958b170dbb95de915/tumblr_pwl6ko7D8e1we9f2ro8_540.gifv')">
                    <!-- Start Hero Block -->
                    <div class="container mx-auto sm:pb-16 lg:pb-24 xl:pb-32">
                        <div class="space-y-8 lg:mt-24 xl:mt-28">
                            <div class="space-y-4">
                                <h1 class="display-3 fw-bold text-white lh-1 md:max-w-xl md:text-5xl">Saran Pengguna
                                </h1>
                                <p class="max-w-sm text-lg text-white md:max-w-md md:text-xl semi-bold"> Hello, <b
                                        class="fw-bold">{{ user.username }}</b>!<br></p>
                                <p class="max-w-sm text-lg text-white md:max-w-md md:text-xl semi-bold"
                                    id="tulisan-kecil"><em>Berikut ini merupakan saran dari pengguna-pengguna kami.</em></p>
                            </div>
                        
                        </div>
                    </div>
                </div>

</body>
</html>